#GENERAL

#ML
fastparquet==2026.5.0
pandas==2.3.3
scikit-learn==1.7.2
spacy==3.8.14
click==8.4.1
imbalanced-learn==0.14.1
nltk==3.9.4
arrow==1.4.0
pyarrow==24.0.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
xgboost==3.2.0

#DL
gensim==4.4.0
tensorflow==2.21.0
keras==3.12.2



#GCP
google-cloud-bigquery==3.41.0
google-cloud-storage==3.10.1
pandas-gbq==0.35.0
db-dtypes==1.6.0

# API
fastapi==0.108.0
pytz
uvicorn

matplotlib==3.10.9

